@media (min-width: 320px) {
  .info-cards {
    margin-top: 8px;
    margin-left: 38px;
    min-width: 299px;
    text-align: center;
  }
}

@media (min-width: 359px) {
  .info-cards {
    /* margin-left: 40px; */
    margin-left: 35px;
    text-align: center;
    min-width: 319px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 375px) {
  .info-cards {
    /* margin-left: 40px; */
    margin-top: 15px;
    margin-left: 35px;
    text-align: center;
    min-width: 332px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 409px) {
  .info-cards {
    /* margin-left: 30px;
    text-align:center; */
    margin-top: 15px;
    margin-left: -3px;
    text-align: center;
    min-width: 373px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 411px) {
  .info-cards {
    /* margin-left: 30px;
    text-align:center; */
    margin-top: 15px;
    margin-left: 41px;
    text-align: center;
    min-width: 373px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 414px) {
  .info-cards {
    margin-left: 37px;
    text-align: center;
    min-width: 368px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .info-cards {
    /* margin-left: 30px;
    text-align:center; */
    margin-top: 15px;
    margin-left: 42px;
    text-align: center;
    min-width: 489px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .info-cards {
    /* margin-left: 30px;
    text-align:center; */
    margin-top: 15px;
    margin-left: 73px;
    text-align: center;
    min-width: 347px;
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .info-cards {
    text-align: center;
    /* min-width: 105px; */
    /* margin-left: 70px; */
  }
  .example-full-width {
    width: 80%;
  }
}

@media (min-width: 1366px) {
  .info-cards {
    margin-top: 15px;
    text-align: center;
    min-width: 200px;
    margin-left: -5px;
  }
  .example-full-width {
    width: 80%;
  }
}

.mat-card {
  align-content: center;
  margin: 20px auto;
  /* max-width: 320px; */
  /* margin-left: 300px; */
}

.example-full-width {
  width: 80%;
}
